.navigation {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  user-select: none;
}

.link{
  text-decoration: none;
  font-size: 1.5rem;
  color: #703bd8;
  margin: 2rem;
  -webkit-user-drag: none;
}

.link:hover{
  color: #400ca8;
}

@media (max-width: 600px){
  .link{
    display: block;
    font-size: 1.1rem;
    margin: 0;
    padding: 10px;
  }
}